@import './vars.scss';

$height-side-frame-bottom: 224px;
$height-instagram: 120px;

.main-section {
  display: flex;
  justify-content: space-between;
}
.main-content {
  width: calc(100% - #{$side-frames-width}*2);
}


.main-news {
  position: relative;
  &__side-frame {
    &__number, &__address, &__phone, &__down{
      transform: rotate(270deg);
      color: $clr-white;
      display: flex;
    }
    &__number {
      font-size: 2.8em;
      width: 100%;
      height: $side-frames-width;
      justify-content: center;
      align-items: center;
    }
    &__address {
      font-size: 1.6em;
      width: 230px;
      height: 230px;
      flex-direction: column;
      justify-content: center;
      position: relative;
      &__item {
        width: 100%;
        text-align: center;
      }  
      &::before, &::after {
        content: '';
        position: absolute;
        width: 2px;
        background-color: $clr-white;
      }
      &::before {
        right: 0;
        height: 20px;
      }
      &::after {
        left: 0;
        height: 80px;
      }
    }
    &__phone {
      width: $height-side-frame-bottom;
      height: $height-side-frame-bottom;
      font-size: 1.6em;
      &__item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 35px solid rgba(#F2C94C, .5);
        border-right: 35px solid rgba(#F2C94C, .5);
        border-top: 90px solid rgba(#F2C94C, .5);
        border-bottom: 90px solid rgba(#F2C94C, .5);
        color: inherit;
        span {
          margin: 0 .25em;
        }
      }
    }
    &__down {
      width: $height-side-frame-bottom;
      height: $height-side-frame-bottom;
      font-size: 1.6em;
      background-color: $clr-white-transparent;
      padding-left: 2.5em;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: $header-height;
  }
  &__navigation {
    padding: 80px 300px 0px 80px;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &__top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__count {
      span {
        margin: 0 .075em;
      }
      &_current {
        font-size: 1.25em;
      }
    }
    &__buttons {
      display: flex;
      align-items: center;
    }
    &__button {
      &.disabled {
        svg {
          stroke-width: 1;
        }
      }
      svg {
        width: .6em;
        height: 1em;
        fill: none;
        stroke: $clr-white;
        stroke-width: 2;
      }
    }
    &__divider {
      margin: 0 .75em;
    }
    &__progress {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $clr-white;
      height: 2px;
      border-radius: 1px;
      &_wrapper {
        width: 100%;
        border-bottom: 1px solid $clr-white;
        position: relative;
        border-radius: 1px;
        margin: 1em 0 .75em;
      }
    }
  }
  &__navigation, &__info {
    width: 50%;
    height: calc(100% - #{$height-side-frame-bottom});
    color: $clr-white;
  }
  &__info {
    padding: 180px 300px 80px 80px;
    &__title {
      font-size: 7.4em;
      margin-bottom: 0.65em;
      font-family: 'Yeseva One', cursive;
      font-weight: 400;
    }
    &__desc {
      font-size: 1.6em;
    }
  }
  &__links {
    width: 100%;
    height: $height-side-frame-bottom;
    display: flex;
    justify-content: space-between;
    background-color: $clr-white-transparent;
    &__item {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      &__text {
        color: $clr-white;
        font-size: 1.6em;
        flex: 1;
        padding: 40px 80px 20px 80px;
      }
      &__title {
        font-size: 1.1em;
        margin-bottom: 1.65em;
        letter-spacing: 0.3em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
      }
      &__img {
        &_wrapper {
          width: $height-side-frame-bottom;
          height: 100%;
          background-color: $clr-greige-pale;
        }
      }
    }
  }
  &__slider {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    &__item {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $clr-for-photo;
    }
  }
}


.main-offer {
  background-color: $clr-for-photo;
  position: relative;
  &.man {
    .side-frame.left {
      background-color: $clr-beige-dark;
    }
    .main-offer__info {
      background-color: $clr-beige-dark;
    }
    .main-offer__info__title__gender {
      color: #F9F0EB;
    }
  }
  &.woman {
    .side-frame.right {
      background-color: $clr-grey-middle;
    }
    .main-offer__info {
      background-color: $clr-grey-middle;
    }
    .main-offer__content {
      flex-direction: row-reverse;
    }
    .main-offer__info__title__gender {
      color: $clr-grey-light;
    }
  }
  &__side-frame {
    &__link {
      width: 100%;
      height: $height-side-frame-bottom;
      background-color: $clr-white-transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      &__icon {
        width: 23px;
        height: 42px;
        fill: none;
        stroke: $clr-white;
        stroke-width: 2px;
      }
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 50%;
  }
  &__info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 80px;
    color: $clr-white;
    &__title {
      width: 100%;
      font-size: 7.4em;
      padding-bottom: .6em;
      margin-bottom: .7em;
      font-family: 'Yeseva One', cursive;
      font-weight: 400;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $clr-white;
      }
    }
    &__desc, &__link  {
      font-size: 1.6em;
    }
    &__link {
      color: inherit;
      font-style: italic;
      text-decoration: underline;
      margin-top: 2em;
    }
  }
  &__nav {
    position: absolute;
    left: 0;
    bottom: 1em;
    width: 100%;
    font-size: 1.6em;
    display: flex;
    &__link {
      &_wrapper {
        position: absolute;
        bottom: 0;
        display: flex;
        &.left {
          right: 50%;
        }
        &.right {
          left: 50%;
          .main-offer__nav__link:last-child::after {
            width: 0;
          }
        }
      }
      text-transform: uppercase;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      color: $clr-white;
      padding: 0 2.5em;
      white-space: nowrap;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 1em;
        width: 1px;
        background-color: $clr-white;
      }
      // &:last-child {
      //   &::after {
      //     width: 0;
      //   }
      // }
    }
  }
}


.main-spec-offer {
  background-color: $clr-for-photo;
  &__side-frame__box, &__links {
    height: $side-frames-width;
    background-color: $clr-beige-light;
  }
  &__side-frame {
    &__box {
      width: $side-frames-width;
    }
    &__up {
      transform: rotate(270deg);
      width: $height-side-frame-bottom;
      height: $height-side-frame-bottom;
      font-size: 1.6em;
      display: flex;
      background-color: $clr-white-transparent;
      justify-content: center;
      align-items: center;
      padding-right: 2.5em;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__divider {
      width: 1px;
      height: 60%;
      background-color: $clr-brown-dark;
    }
    &__inner {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6em;
    }
  }
  &__info {
    width: 100%;
    height: calc(100% - #{$side-frames-width});
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
      color: $clr-grey-middle;
      font-size: 7.4em;
      margin-bottom: .9em;
      font-family: 'Yeseva One', cursive;
      font-weight: 400;
    }
    &__subtitle {
      color: $clr-grey-middle;
      font-size: 2em;
      font-family: 'Cormorant Infant', serif;
      letter-spacing: 0.3em;
      margin-bottom: 0.75em;
    }
    &__link {
      font-size: 1.6em;
      text-decoration: underline;
      color: $clr-white;
      letter-spacing: 0.1em;
      font-family: 'Kurale', serif;
    }
  }
}


.main-history {
  background-color: $clr-dusty-rose;
  &__side-frame {
    &__up {
      transform: rotate(270deg);
      width: $height-side-frame-bottom;
      height: $height-side-frame-bottom;
      font-size: 1.6em;
      display: flex;
      background-color: $clr-white-transparent;
      justify-content: center;
      align-items: center;
      padding-right: 2.5em;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 6em 8em;
  }
  &__preview {
    &__img {
      background-color: $clr-for-photo;
      width: 800px;
      height: 460px;
    }
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      transform: translateY(-6em);
    }
    &__title {
      color: $clr-white;
      font-family: 'Yeseva One', cursive;
      font-weight: 400;
      font-size: 7.4em;
      margin-bottom: .8em;
      span {
        margin: 0 .5em;
      }
    }
    &__link {
      border: 1px solid $clr-brown-dark;
      color: $clr-brown-dark;
      text-transform: uppercase;
      padding: 1em 6em;
      font-size: 1.6em;
      letter-spacing: 0.1em;
      text-align: center;
    }
  }
  &__desc {
    &_wrapper {
      width: 100%;
      padding: 2.25em 10.3em;
      font-size: 2.4em;
      border-top: 1px solid $clr-white;
    }
    
    letter-spacing: 0.1em;
    color: $clr-brown-dark;
    font-family: 'Cormorant Infant', serif;
    
  }
}

.main-gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 77vh;
  &__logo {
    &_wrapper {
      width: 100%;
      height: $height-instagram;
      background-color: $clr-white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: calc(100% - #{$height-instagram});
    &__item {
      width: calc(100%/6);
      height: calc(100%/2);
      background-color: $clr-for-photo;
      border: 1px solid $clr-white;
    }
  }
}