$clr-brown-dark: #946142;

$clr-white: #ffffff;
$clr-white-transparent: rgba(#fff, 0.2);

$clr-greige-pale: #F1EDEA;

$clr-beige-dark: #C4A892;
$clr-beige-middle: #E7CEB5;
$clr-beige-light: #F3E5DC;
$clr-beige-pale: #C4A892;

$clr-dusty-rose: #ECD2C1;

$clr-grey-dark: #888B8D;
$clr-grey-middle: #B1B3B3;
$clr-grey-light: #D9D9D6;

$clr-for-photo: #50A167;

$header-height: 120px;
$side-frames-width: 120px;

